*.local
*.identcache
*.res
*.stat
*.dcu
*.hpp
*.o
Packages/Delphi/AndroidManifest.template.xml
Packages/Delphi/__history/
Samples/PhoneContacts_Interfaces/Android/
Samples/PhoneContacts_Interfaces/AndroidManifest.template.xml
*.vlb
*.deployproj
Samples/PhoneContacts_Interfaces/Win32/Debug/PhoneContacts_Interfaces.rsm
Samples/PhoneContacts_Interfaces/__history/
Samples/PhoneContacts_Interfaces_ByCode/Win32/
Samples/PhoneContacts_Interfaces_ByCode/__history/
Samples/PhoneContacts_Interfaces_Ex/Android/Debug/AndroidManifest.xml
Samples/PhoneContacts_Interfaces_Ex/Android/
Samples/PhoneContacts_Interfaces_Ex/AndroidManifest.template.xml
Samples/PhoneContacts_Interfaces_Ex/Win32/
Samples/PhoneContacts_Interfaces_Ex/__history/
*.dres
*.rc
Samples/PhoneContacts_Interfaces_MVVM_mapper/Win32/
Samples/PhoneContacts_Interfaces_MVVM_mapper/__history/
Samples/PhoneContacts_ioActiveBindSourceAdapter/__history/
Samples/PhoneContacts_ioProtypeBindSource/Android/Debug/AndroidManifest.xml
Samples/PhoneContacts_ioProtypeBindSource/Android/
Samples/PhoneContacts_ioProtypeBindSource/AndroidManifest.template.xml
Samples/PhoneContacts_ioProtypeBindSource/Win64/
Samples/PhoneContacts_ioProtypeBindSource/__history/
Samples/Pizza_List/__history/
Samples/Pizza_ioActiveBindSourceAdapter/__history/
Samples/Pizza_ioPrototypeBS/__history/
Samples/Pizza_ioPrototypeBS_ObjStatus/Android/Debug/AndroidManifest.xml
Samples/Pizza_ioPrototypeBS_ObjStatus/Android/
Samples/Pizza_ioPrototypeBS_ObjStatus/__history/
Samples/RVMan_Interface/Win32/
Samples/RVMan_Interface/__history/
Source/__history/
*.exe
Samples/PhoneContacts_Interfaces_MVVM_mapper/Model/__history/
Samples/PhoneContacts_ioMemTable/__history/
*.~1~
ExtLibs/ObjMapper/__history/ObjMapper.Attributes.pas.~2~
ExtLibs/ObjMapper/__history/ObjMapper.DuckDictionary.pas.~2~
ExtLibs/ObjMapper/__history/ObjMapper.DuckDictionary.pas.~3~
ExtLibs/ObjMapper/__history/ObjMapper.DuckList.pas.~2~
ExtLibs/ObjMapper/__history/ObjMapper.DuckPropField.pas.~2~
ExtLibs/ObjMapper/__history/ObjMapper.Engine.pas.~2~
ExtLibs/ObjMapper/__history/ObjMapper.Engine.pas.~3~
ExtLibs/ObjMapper/__history/ObjMapper.RTTIUtils.pas.~2~
ExtLibs/ObjMapper/__history/ObjMapper.pas.~10~
ExtLibs/ObjMapper/__history/ObjMapper.pas.~11~
ExtLibs/ObjMapper/__history/ObjMapper.pas.~2~
ExtLibs/ObjMapper/__history/ObjMapper.pas.~3~
ExtLibs/ObjMapper/__history/ObjMapper.pas.~4~
ExtLibs/ObjMapper/__history/ObjMapper.pas.~5~
ExtLibs/ObjMapper/__history/ObjMapper.pas.~6~
ExtLibs/ObjMapper/__history/ObjMapper.pas.~7~
ExtLibs/ObjMapper/__history/ObjMapper.pas.~8~
ExtLibs/ObjMapper/__history/ObjMapper.pas.~9~
ExtLibs/ObjMapper/__history/ObjMapperEngine.pas.~2~
ExtLibs/ObjMapper/__history/ObjectsMappers.pas.~2~
Samples/PhoneContacts_DMVC/Client/__history/Main.fmx.~2~
Samples/PhoneContacts_DMVC/Client/__history/Main.fmx.~3~
Samples/PhoneContacts_DMVC/Client/__history/PhoneContacts_DMVC_Client.dpr.~2~
Samples/PhoneContacts_DMVC/Client/__history/PhoneContacts_DMVC_Client.dpr.~3~
Samples/PhoneContacts_DMVC/Client/__history/PhoneContacts_DMVC_Client.dpr.~4~
Samples/PhoneContacts_DMVC/Client/__history/PhoneContacts_DMVC_Client.dpr.~5~
Samples/PhoneContacts_DMVC/Client/__history/PhoneContacts_DMVC_Client.dpr.~6~
Samples/PhoneContacts_DMVC/Client/__history/PhoneContacts_DMVC_Client.dpr.~7~
Samples/PhoneContacts_DMVC/Client/__history/PhoneContacts_DMVC_Client.dpr.~8~
Samples/PhoneContacts_DMVC/Client/Win32/Debug/PhoneContacts_DMVC_Client.rsm
*.log
Samples/PhoneContacts_DMVC/Server/__history/PhoneContacts_DMVC_Server.dpr.~2~
Samples/PhoneContacts_DMVC/Server/__history/PhoneContacts_DMVC_Server.dpr.~3~
Samples/PhoneContacts_DMVC/Server/__history/PhoneContacts_DMVC_Server.dpr.~4~
Samples/PhoneContacts_DMVC/Server/__history/PhoneContacts_DMVC_Server.dpr.~5~
Samples/PhoneContacts_DMVC/Server/__history/PhoneContacts_DMVC_Server.dpr.~6~
Samples/PhoneContacts_DMVC/Server/__history/PhoneContacts_DMVC_Server.dpr.~7~
Samples/PhoneContacts_DMVC/Server/__history/PhoneContacts_DMVC_Server.dpr.~8~
Samples/PhoneContacts_DMVC/Server/__history/PhoneContacts_DMVC_Server.dpr.~9~
Samples/PhoneContacts_DMVC/Client/__history/Main.fmx.~4~
Samples/PhoneContacts_DMVC/Client/__history/Main.fmx.~5~
Samples/PhoneContacts_DMVC/Client/__history/
IDE_Expert/__history/
Samples/Pizza_DMVC/Client/__history/
Samples/Pizza_DMVC/Common/__history/
Samples/Pizza_DMVC/Server/__history/
Samples/Pizza_ObjStatus_DMVC/Client/__history/
Samples/Pizza_ObjStatus_DMVC/Common/__history/
Samples/Pizza_ObjStatus_DMVC/Server/__history/
ExtLibs/ObjMapper/__history/
ExtLibs/ObjMapper/Samples/Mapper_Pizza_Image/__history/
Samples/PhoneContacts_DMVC/Client_ByCode/Win32/
Samples/PhoneContacts_DMVC/Client_ByCode/__history/
Samples/PhoneContacts_DMVC/Server/__history/
Samples/PhoneContacts_Interfaces_MVVM_mapper/View/__history/
Samples/PhoneContacts_Interfaces_MVVM/View/__history/
Samples/PhoneContacts_Interfaces_MVVM/ViewModel/__history/
Samples/PhoneContacts_Interfaces_MVVM/__history/
Samples/PhoneContacts_Interfaces_MVVM/Model/__history/
Samples/PhoneContacts_MVVM_CrossFramework/Commons/ViewModel/__history/
Samples/PhoneContacts_MVVM_CrossFramework/Commons/__history/
Samples/PhoneContacts_MVVM_CrossFramework/FMX/Android/Debug/PhoneContacts_MVVM_FMX/bin/
Samples/PhoneContacts_MVVM_CrossFramework/FMX/Android/Debug/PhoneContacts_MVVM_FMX/classes/
Samples/PhoneContacts_MVVM_CrossFramework/FMX/Android/Debug/PhoneContacts_MVVM_FMX/debug/
Samples/PhoneContacts_MVVM_CrossFramework/FMX/Android/Debug/PhoneContacts_MVVM_FMX/library/
Samples/PhoneContacts_MVVM_CrossFramework/FMX/Android/Debug/PhoneContacts_MVVM_FMX/res/
Samples/PhoneContacts_MVVM_CrossFramework/FMX/Android/
Samples/PhoneContacts_MVVM_CrossFramework/FMX/View/__history/
Samples/PhoneContacts_MVVM_CrossFramework/FMX/__history/
Samples/PhoneContacts_MVVM_CrossFramework/VCL/View/__history/
Samples/PhoneContacts_MVVM_CrossFramework/VCL/__history/
Samples/DataSet_MVVM/__history/
Samples/Pizza_Ordini_MVVM_CrossFramework/Commons/__history/
Samples/Pizza_Ordini_MVVM_CrossFramework/Commons/Model/__history/
Samples/Pizza_Ordini_MVVM_CrossFramework/Commons/View/__history/
Samples/Pizza_Ordini_MVVM_CrossFramework/Commons/ViewModel/__history/
Samples/Pizza_Ordini_MVVM_CrossFramework/FMX/__history/
Samples/Pizza_Ordini_MVVM_CrossFramework/FMX/View/__history/
Samples/Pizza_Ordini_MVVM_CrossFramework/FMX/Android/
Samples/BOM_MVVM_CrossFramework/Commons/__history/
Samples/BOM_MVVM_CrossFramework/Commons/Model/__history/
Samples/BOM_MVVM_CrossFramework/Commons/ViewModel/__history/
Samples/BOM_MVVM_CrossFramework/FMX/__history/
Samples/BOM_MVVM_CrossFramework/FMX/View/__history/
Samples/BOM_MVVM_CrossFramework/FMX/Android/
Samples/BOM_MVVM_CrossFramework/Commons/View/__history/
Samples/BOM_MVVM_CrossFramework/VCL/__history/
Samples/BOM_MVVM_CrossFramework/VCL/View/__history/
